<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block title %}{% endblock %}
        <meta name="theme-color" content="#712cf9">
        <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
        <link href="{{ url_for('static', filename ='css/style.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
    <header>
        <nav>
            <div class="container">
           <a href="/"><img src="{{ url_for('static', filename='img/logo.webp') }}" alt="Логотип" /></a>
            <ul class="nav">
                <li><a href="/">Визуализация</a></li>
                <li><a href="/add_form">Добавление предприятия</a></li>
                <li><a href="/delete_form">Удаление предприятия</a></li>
            </ul>
            </div>
        </nav>
    </header><br>
    {% block content %}{% endblock %}
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
    <script src="{{ url_for('static', filename ='js/main.js') }}"></script>
    </body>
</html>